<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="styles/2d3cc473.main.css">
  </head>
  <body ng-app="siteApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container" ng-controller="MainCtrl">

        <form class="form-search">
            <legend>What are the best vacations possible for my budget?</legend>
            <input type="text" placeholder="Where do you start your trip?" ng-model="trip.location.start">
            <input type="number" placeholder="What's your budget?" ng-model="trip.budget">
            <select name="weeks" class="form-control" ng-model="trip.duration" ng-init="trip.duration=1">
                <option value="1">1 Week</option>
                <option value="2">2 Weeks</option>
                <option value="3">3 Weeks</option>
                <option value="4">4 Weeks</option>
            </select>
            <select name="persons" class="form-control" ng-model="trip.persons" ng-init="trip.persons=1">
                <option value="1">1 person</option>
                <option value="2">2 persons</option>
                <option value="3">3 persons</option>
                <option value="4">4 persons</option>
                <option value="5">5 persons</option>
                <option value="6">6 persons</option>
            </select>
            <select name="beds" class="form-control" ng-model="trip.beds" ng-init="trip.beds=1">
                <option value="1">1 bed</option>
                <option value="2">2 beds</option>
                <option value="3">3 beds</option>
                <option value="4">4 beds</option>
                <option value="5">5 beds</option>
                <option value="6">6 beds</option>
            </select>
            <button type="submit" class="btn btn-success" ng-click="ui.submit=true">Search</button>
            <!--<button type="reset" class="btn" ng-click="resetForm()">Reset</button>-->
        </form>

        <!--<pre>{{ ui | json }}</pre>-->

        <div ng-show="ui.submit">
            <div class="alert alert-success">We're comming soon... Be the first to try our site!</div>

            <form class="signin form-inline">
                <input type="text" class="input-small" placeholder="First Name" ng-model="trip.firstName">
                <input type="text" class="input-small" placeholder="Email" ng-model="trip.email">
                <button type="submit" class="btn" ng-click="ui.submit=false">Notify me!</button>
            </form>

        </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

        <script src="scripts/76c21dca.plugins.js"></script>

        <script src="scripts/6b865daa.modules.js"></script>

        <script src="scripts/23e3d792.scripts.js"></script>

    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="//cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js"></script>
  </body>
</html>