<form class="form-search">
    <legend>What are the best vacations possible for my budget?</legend>
    <input type="text" placeholder="Where do you start your trip?" size="30" ng-model="ui.trip.location.start">
    <input type="date" placeholder="When do you want to start your trip?" ng-model="ui.trip.date.start">
    <input type="number" placeholder="What is your budget? (USD)" ng-model="ui.trip.budget">
    <input type="number" placeholder="How long?" min="1" max="4" ng-model="ui.trip.duration.min">
    <input type="number" placeholder="What is the maximum duration of your desired trip?" ng-model="ui.trip.duration.max">
    <input type="number" placeholder="How many persons?" ng-model="ui.trip.persons">
    <input type="number" placeholder="How many beds?" ng-model="ui.trip.beds">
    <button type="submit" class="btn">Search</button>
    <button type="reset" class="btn" ng-click="resetForm()">Reset</button>
</form>

<pre>{{ ui | json }}</pre>